<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
      <ng-container *ngIf="isSideNavVisible">
        <mat-icon class="mat-18" (click)="sideNavOpen()" >menu</mat-icon>
      </ng-container>

      <ng-container *ngIf="!isSideNavVisible">
        <mat-icon class="mat-18" (click)="sideNavClose()">close</mat-icon>
      </ng-container>
    </button>
    <span>My Application</span>
  </mat-toolbar>
</p> 




<mat-sidenav-container>
    <mat-sidenav>
      <img src="" alt="" class="avatar mat-elevation-z8">
      <h4>Let's Program</h4>
      <mat-divider></mat-divider>
    </mat-sidenav>
</mat-sidenav-container>




<!-- <router-outlet></router-outlet> -->

